.detail {
    padding: 20px;
    text-align: center;
}

.detail h2 {
    margin-bottom: 20px;
}

.detail img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.detail ul {
    list-style-type: none;
    padding: 0;
}

.detail ul li {
    background: #444;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}