.header {
    width: 100%; /* Asegúrate de que ocupe todo el ancho */
    max-width: 100%; /* Evita limitar el ancho a 800px */
    padding: 1.5rem;
    background-color: #282c34;
    color: white;
    text-align: center;
    box-sizing: border-box; /* Asegura que padding y border se incluyan en el ancho total */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


h1 {
    font-size: 2rem; /* Tamaño más pequeño y relativo */
    margin: 0.5rem 0;
    color: #61dafb;
}

h4 {
    font-size: 1.5rem; /* Tamaño relativo */
    margin: 0.5rem 0;
}

.description {
    font-size: 1rem; /* Tamaño relativo */
    color: #dddddd;
    margin: 0.5rem 0;
}

a {
    color: #61dafb;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.social-links {
    margin-top: 1rem;
    display: flex; /* Usar Flexbox para alinear los enlaces */
    justify-content: center; /* Centrar los enlaces */
}

.social-links a {
    color: white;
    margin: 0 1rem; /* Espacio entre los enlaces */
    font-size: 1.5rem;
}

nav {
    background-color: #282c34;
    padding: 1rem;
    width: 90%; 
    max-width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Opcional: sombra para un efecto visual */
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex; /* Usar Flexbox */
    justify-content: space-around; /* Espacio uniforme entre los elementos */
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan en pantallas más pequeñas */
}

nav li {
    margin: 0.5rem; /* Espacio entre los elementos del menú */
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem; /* Espaciado interno para mayor área de clic */
    transition: background-color 0.3s; /* Transición suave para el hover */
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Fondo al pasar el mouse */
    border-radius: 5px; /* Bordes redondeados */
}
