.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh; /* Mantiene el alto mínimo */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem; /* Tamaño base para móviles */
  color: white;
  padding: 1rem; /* Espacio alrededor del contenido */
}

.App-header h1 {
  font-size: 2rem; /* Tamaño de texto para móviles */
}

.App-header h4 {
  font-size: 1.5rem; /* Tamaño de texto para móviles */
}

.App-header p {
  font-size: 1rem; /* Tamaño de párrafo para móviles */
}

.App-link {
  color: #61dafb;
}

@keyframes show {
  from {
    opacity: 0;
    transform: scale(0.25); /* Cambiado a transform */
  }
  to {
    opacity: 1;
    transform: scale(1); /* Cambiado a transform */
  }
}

/* Estilos para el div con animación, sin activar la animación de inmediato */
.div-animation {
  opacity: 0; /* Inicialmente invisible */
  transform: scale(0.25); /* Inicialmente más pequeño */
  transition: opacity 0.5s, transform 0.5s;
}

/* La animación se aplica cuando se añade la clase "animate" */
.div-animation.animate {
  opacity: 1;
  transform: scale(1);
  animation-name: show;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}