body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #282c34;
  color: #333;
}

.App {
  max-width: 100%; /* Cambia el max-width a un porcentaje para pantallas más pequeñas */
  margin: 0 auto; /* Asegura que se centre */
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow-x: hidden; /* Evita el desbordamiento horizontal */
  box-sizing: border-box; /* Asegura que el padding y border se incluyan en el tamaño total */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
}

section {
  margin: 20px 0;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #fafafa;
  width: 100%; /* Asegura que ocupe el ancho disponible */
  box-sizing: border-box; /* Evita desbordamientos */
}

/* Estilo para encabezados */
h2 {
  color: #007acc;
}
