nav {
    background-color: #363c46;
    padding: 1rem;
    /* width: 100%; */
    max-width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

nav li {
    margin: 0.5rem;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}
